# Auth for downloading the private @temanten/sdk release tarball
# (see templates/jogja-1/package.json). Needs a token with read access to
# sementaraid/temanten-sdk in the SDK_GH_TOKEN env var.
//github.com/:_authToken=${SDK_GH_TOKEN}
